<%= render 'shared/navbar' %>
<section>
  <div id="map2"></div>

  <div class="cards-bakery">
    <ul>
      <% @bakeries.each do |bakery| %>
        <a href="<%= bakery_path(bakery) %>">

          <div class="card-bakery" style="text-align: center">
            <div class="img-bakery">
              <img src="<%= bakery.street %>" alt="">
            </div>
            <span class="name"  style="align-items:center;"><li><%= bakery.name %></li></span>
            <span class="street"><li><%= bakery.address %></li></span>
          </div>
        </a>
      <% end %>
    </ul>
  </div>
</section>
