<%= image_tag "show.jpg", id: 'pig'%>
<div class="bakery_card">
  <h1><%= @bakery.name %></h1>
  <p><%= @bakery.street %>, <%= @bakery.zip %>, <%= @bakery.city %></p>
</div>

<div class="card-product">
  <%= image_tag "bakpic.jpg",class: "pic" %>
  <div class="card-product-infos">
    <% @bakery.products.each do |product| %>
      <h2><%= product.name %></h2>
      <p><%= product.details %></p>
      <p><strong><%= product.price %>:CHF</strong></p>
    <% end %>
  </div>
</div>
