<%= image_tag "show.jpg", id: 'pig' %>

<div class="container">
  <%= image_tag "bakpic.jpg", id: 'pic' %>
  <ul class="li">
      <li><h2><%= @bakery.name %></h2></li>
      <li><%= @bakery.discription %></li>
      <li><%= @bakery.street %></li>
      <li><%= @bakery.zip %></li>
      <li><%= @bakery.city %></li>
    </ul>
</div>
