<%= image_tag "show.jpg", id: 'pig'%>
<div class="bakery_card">
<h1><%= @bakeries.name %></h1>
<p><%= @bakeries.address %> <%= @bakeries.zip %> <%= @bakeries.city %></p>
</div>
<% @bakeries.products.each do |product| %>
  <div class="card-product">
    <%= image_tag "bakpic.jpg",class: "pic" %>
    <div class="card-product-infos">
      <div class="add-product">
        <%= link_to '+', add_to_basket_path(product_id: product.id), method: :post %>
      </div>
          <h2><%= product.name %></h2>
          <span class="product-detail"><p><%= product.details %></p></span>
          <p class="product-price"><%= product.price %> CHF</p>
    </div>
  </div>
<% end %>
