<img src="<%= @bakeries.street %>" alt="" id="pig">
<%= link_to bakeries_path do %>
  <ion-icon name="ios-arrow-dropleft" class="arrow-back"></ion-icon>
<% end %>
<div class="bakery_card">
  <h1><%= @bakeries.name %></h1>
  <p><%= @bakeries.address %>
  <%= @bakeries.discription%></p>
</div>

<% @bakeries.products.each do |product| %>
  <div class="card-product">
    <div class="img-product">
      <img src="<%= product.img %>" class="pic">
    </div>
    <div class="card-product-infos">
      <div class="add-product">
        <%= link_to '+', add_to_basket_path(product_id: product.id), method: :post %>
      </div>
          <h2><%= product.name %></h2>
          <span class="product-detail">
            <% a = product.details.split(",") %>
            <% a.each do |product| %>
              <p><%= product %></p>
            <% end %>
          </span>
          <p class="product-price"><%= product.price %>0 CHF</p>
    </div>
  </div>
<% end %>
