<nav class="bottom_navbar">
  <ul>
    <li>
      <a href="<%= root_path %>">
        <% if current_page?(root_path)%>
          <ion-icon name="ios-navigate" class="button-selec"></ion-icon>
        <% else %>
          <ion-icon name="ios-navigate" ></ion-icon>
        <% end %>
      </a>
    </li>
    <li>
      <a href="<%= bakeries_path %>">
        <% if current_page?(bakeries_path)%>
          <ion-icon name="ios-search" class="button-selec"></ion-icon>
        <% else %>
          <ion-icon name="ios-search"></ion-icon>
        <% end %>
      </a>
    </li>
    <li>
      <a href="<%=  my_orders_path %>">
        <% if current_page?(my_orders_path)%>
          <ion-icon name="ios-cart" class="button-selec"></ion-icon>
        <% else %>
          <ion-icon name="ios-cart"></ion-icon>
        <% end %>
      </a>
    </li>
    <li>
      <% if user_signed_in? %>
        <%= link_to '<ion-icon name="ios-log-out"></ion-icon>'.html_safe, destroy_user_session_path, method: :delete %>
      <% else %>
        <a href="<%= user_session_path %>">
          <ion-icon name="ios-person"></ion-icon>
        </a>
      <% end %>
    </li>
  </ul>
</nav>
