<div class="nbar"><h1><strong>My orders</strong></h1></div>
<% @products.each do |product| %>
  <div class="card-product">
      <%= image_tag "bakpic.jpg",class: "pic" %>
    <div class="card-product-infos">
      <h2><%= product.name %></h2>
      <p><%= product.details%></p>
      <h2>  <strong><%= product.price %>0 CHF</strong></h2>
    </div>
  </div>
<% end %>
 <div class="total"> <h3><strong>Total : <%=@total_price %>0 CHF</strong></h3></div>
