<div class="nbar"><h1><strong>My orders</strong></h1></div>

<% current_user.current_order.products.each do |product| %>
  <div class="card-product">
      <%= image_tag "bakpic.jpg",class: "pic" %>
    <div class="card-product-infos">
      <h2><%= product.name %></h2>
      <p><%= product.details%></p>
      <h2>  <strong><%= product.price %>0 CHF</strong></h2>
      <%# <h2><strong><%= total += product.price %></strong></h2>
    </div>
  </div>

<% end %>

<h1>the total is <%Product.sum(:price) %></h1>
