<%= render 'shared/navbar' %>
<div class="nbar"><h1><strong>My Orders</strong></h1></div>

<% @products.each do |product| %>
  <div class="card-product">
    <div class="img-product">
      <img src="<%= product.img %>" class="pic">
    </div>
    <div class="card-product-infos">
      <h2><%= product.name %></h2>
      <span class="product-detail">
        <% a = product.details.split(",") %>
        <% a.each do |product| %>
          <p><%= product %></p>
        <% end %>
      </span>
      <p class="product-price"><%= product.price %> CHF</p>
    </div>
  </div>
<% end %>
<%# <div class="order-bottom"> %>
  <div class="total"> <h3><strong>Total : <%=@total_price %>0 CHF</strong></h3></div>
  <span class="disply-button-stripe">
    <div class="button-pay-stripe">
      <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="Camilo Breakfast"
                  data-amount=""
                  data-locale="auto"></script>
      <% end %>
    </div>
  </span>
<%# </div> %>
