<h1>My order</h1>

<% current_user.current_order.products.each do |product| %>
  <div class="card-product">
      <%= image_tag "bakpic.jpg",class: "pic" %>
    <div class="card-product-infos">
      <h2><%= product.name %></h2>
      <p><%= product.details%></p>
      <p>  <strong><%= product.price %> CHF</strong></p>
    </div>
  </div>
<% end %>
<div class="button-pay-stripe">
  <%= form_tag charges_path do %>
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Camilo Breakfast"
              data-amount=""
              data-locale="auto"></script>
  <% end %>
</div>
